<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.dt.dataphin.meta.core.dal.mapper.metastore.MetastoreTableMapper">
    <select id="listTable" resultType="com.alibaba.dt.dataphin.meta.core.dal.dataobject.TableDO">
        SELECT
        name,
        '0' as isPartitioned,
        isView
        FROM (
        SELECT
        table_name AS name,
        '0' AS isView,
        FROM all_tables
        <where>
            LOWER(owner) = LOWER(#{schema})
            <if test="tableNames != null and tableNames.size > 0">
                AND LOWER(table_name) IN
                <foreach collection="tableNames" item="tableName" open="(" separator="," close=")">
                    LOWER(#{tableName})
                </foreach>
            </if>
        </where>
        UNION ALL
        SELECT
        view_name AS name,
        '1' AS isView
        FROM all_views
        <where>
            LOWER(owner) = LOWER(#{schema})
            <if test="tableNames != null and tableNames.size > 0">
                AND LOWER(view_name) IN
                <foreach collection="tableNames" item="tableName" open="(" separator="," close=")">
                    LOWER(#{tableName})
                </foreach>
            </if>
        </where>
    </select>

    <select id="searchTable" resultType="com.alibaba.dt.dataphin.meta.core.dal.dataobject.TableDO">
        SELECT
        name,
        isView,
        '0' as isPartitioned,
        row_number()
        OVER (
        ORDER BY name ASC ) AS rn
        FROM (
        SELECT
        table_name AS name,
        '0' AS isView
        FROM all_tables
        WHERE LOWER(owner) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(table_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(table_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        UNION ALL
        SELECT
        view_name AS name,
        '1' AS isView
        FROM all_views
        WHERE LOWER(owner) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(view_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(view_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        ) tmp
    </select>

    <select id="searchTableName" resultType="java.lang.String">
        SELECT
        name
        FROM all_tables
        WHERE LOWER(owner) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(table_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(table_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        UNION ALL
        SELECT
        view_name AS name,
        '1' AS isView
        FROM all_views
        WHERE LOWER(owner) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(view_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(view_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        ) tmp
    </select>

    <select id="countTable" resultType="java.lang.Long">
        SELECT table_count.total + view_count.total
        FROM (
        SELECT COUNT(name) as total
        FROM all_tables
        WHERE LOWER(owner) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(table_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(table_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        ) as table_count
        JOIN (
        SELECT
        COUNT (view_name) as total
        FROM all_views
        WHERE LOWER( OWNER ) = LOWER(#{schema})
        <if test="keyword != null">
            <choose>
                <when test="byPrefix">
                    AND LOWER(view_name) LIKE CONCAT(LOWER(#{keyword}), '%')
                </when>
                <otherwise>
                    AND LOWER(view_name) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                </otherwise>
            </choose>
        </if>
        ) as view_count
    </select>

    <select id="listColumns" resultType="com.alibaba.dt.dataphin.meta.core.dal.dataobject.ColumnDO">
        SELECT
            column_name AS name,
            data_type   AS dataType,
            column_id   AS seqNumber,
            CASE WHEN nullable = 'Y'
                THEN 1
            ELSE 0 END  AS isAllowEmpty,
            '0' as isPt
        FROM ALL_TAB_COLS
        WHERE LOWER(owner) = LOWER(#{schema}) AND LOWER(table_name) = LOWER(#{tableName})
        ORDER BY seqNumber ASC
    </select>

    <select id="countColumn" resultType="java.lang.Long">
        SELECT
        count(column_name)
        FROM ALL_TAB_COLS
        WHERE LOWER(owner) = LOWER(#{schema}) AND LOWER(table_name) = LOWER(#{tableName})
    </select>
</mapper>